.container{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
}

.black{
    max-width: 400px;
    height: 400px;
    background-color: #000;
    color: #fff;
    padding: 30px;
    margin: 30px;
}

.white{
    max-width: 400px;
    height: 400px;
    color: #333;
    padding: 30px;
    margin: 30px;
    border: 1px #000 solid;
}

/* CONFIGURAÇÃO MENOR QUE 1024 DE LARGURA */

@media screen and (max-width:1024px) {
    .container{
        flex-direction: column; /* Direção dos conteudos do display: flex */
    }
    .black, .white{
        max-width: 100%;
    }
}